
{% extends 'vote/base.html' %}
{% load static %}
{% block content %}
    <!-- banners -->
    <div class="banners">
        <img src="{% static 'vote/img/award-banner.jpg' %}" alt="image">
        <div class="banners-content">
            <h1>About Us</h1>
        </div>

    </div>
    

    <!-- About us section -->
    <section class="about-us-container">
        <div class="about-image">
            <img src="{% static 'vote/img/about-us.jpg' %}" alt="">

        </div>
        <div class="about-us-content">
            <div class="col">
                <h2>About Us</h2>
                <p>Welcome to our online voting platform! We are dedicated to revolutionizing the way people participate
                    in awards by providing a seamless and accessible voting experience. Here at [Your Platform Name], we
                    believe that everyone should have the opportunity to make their voice heard and contribute to
                    recognizing excellence in various fields.
                </p>
            </div>
            <div class="col">
                <h2>Who We Are </h2>
                <p>At [Your Platform Name], we are a team of passionate individuals committed to fostering transparency,
                    fairness, and inclusivity in the award process. Our diverse team brings together expertise from
                    various backgrounds including technology, design, and community engagement to create a platform that
                    serves the needs of both voters and organizers.
                </p>
            </div>
            <div class="col">
                <h2>Our Mission

                </h2>
                <p>Our mission is to democratize the award voting process by providing a user-friendly platform that
                    empowers individuals to participate in shaping the outcome of awards across different industries. We
                    strive to create a level playing field where every vote counts, and where the best candidates are
                    celebrated based on merit and the collective voice of the community. </p>
            </div>
        </div>
    </section>

    {% endblock content %}











   



   