
{% extends 'vote/base.html' %}
{% load static %}
{% block content %}
    <!-- banners -->
    <!-- <div class="banners">
       
        <div class="banners-content">
            <h1>About Us</h1>
        </div>

    </div> -->


    <!-- About us section -->
    <section class="about-us-container">
        <div class="about-image about-ben">
            <img src="{% static 'vote/img/ben.jpg' %}"  alt="">

        </div>
        <div class="about-us-content about-page">
            <div class="col ">
                <h2>About Us</h2>
                <p>Greetings from our virtual polling booth! Our goal is to completely transform the way individuals take part in awards by
                offering an easy and convenient voting process. VoteAfric is a platform where people can voice their opinions and help
                recognize greatness in a variety of professions. We think everyone should have this opportunity.
                </p>
            </div>
            <div class="col">
                <h2>Who We Are </h2>
                <p>Our team of enthusiastic individuals at VoteAfric is dedicated to promoting diversity, justice, and openness in the
                award process. Our multidisciplinary team combines knowledge from a range of fields, such as technology, design, and
                community involvement, to develop a platform that meets the demands of organizers and voters alike.
                </p>
            </div>
            <div class="col">
                <h2>Our Mission

                </h2>
                <p>Our goal is to democratize the award voting process by offering an approachable platform that enables people to take
                part in influencing the results of awards given out in a variety of industries. We work to establish fair elections
                where all votes are valued equally and the community's opinion is heard, and where the top candidates are recognized for
                their achievements. </p>
            </div>
        </div>
    </section>


  

    {% endblock content %}











   



   