{% extends 'vote/base.html' %}
{% load static %}
primary: #ffb535;
text-color: #363738;
<style>


</style>

{% block content %}

<!-- banner -->
<div class="banners">
   
    <div class="banners-content">
        <h1>Blog</h1>
    </div>

</div>
<br><br>
<div class="blog-container">
    <div class="cards">

        <div class="cards_items">
            <div class="square">
                <img src="{% static 'vote/img/award-banner.jpg' %}" alt="" class="mask blog-img">
                <div class="blog-h1">
                    nice work
                </div>
                <p class="blog-p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis eius facere nesciunt
                    voluptatum, mollitia suscipit cupiditate nostrum, sequi porro quia maiores explicabo quidem alias
                    minima perspiciatis error necessitatibus non deleniti.</p>
                <div>
                    <a class="blog-button" href="{% url 'blog-detail' %}">Read More</a>
                </div>
            </div>
        </div>
        <div class="cards_items">
            <div class="square">
                <img src="{% static 'vote/img/award-banner.jpg' %}" alt="" class="mask blog-img">
                <div class="blog-h1">
                    nice work
                </div>
                <p class="blog-p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis eius facere nesciunt
                    voluptatum, mollitia suscipit cupiditate nostrum, sequi porro quia maiores explicabo quidem alias
                    minima perspiciatis error necessitatibus non deleniti.</p>
                <div>
                    <a class="blog-button" href="">Read More</a>
                </div>
            </div>
        </div>
        <div class="cards_items">
            <div class="square">
                <img src="{% static 'vote/img/award-banner.jpg' %}" alt="" class="mask blog-img">
                <div class="blog-h1">
                    nice work
                </div>
                <p class="blog-p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis eius facere nesciunt
                    voluptatum, mollitia suscipit cupiditate nostrum, sequi porro quia maiores explicabo quidem alias
                    minima perspiciatis error necessitatibus non deleniti.</p>
                <div>
                    <a class="blog-button" href="">Read More</a>
                </div>
            </div>
        </div>
        <div class="cards_items">
            <div class="square">
                <img src="{% static 'vote/img/award-banner.jpg' %}" alt="" class="mask blog-img">
                <div class="blog-h1">
                    nice work
                </div>
                <p class="blog-p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis eius facere nesciunt
                    voluptatum, mollitia suscipit cupiditate nostrum, sequi porro quia maiores explicabo quidem alias
                    minima perspiciatis error necessitatibus non deleniti.</p>
                <div>
                    <a class="blog-button" href="">Read More</a>
                </div>
            </div>
        </div>
        <div class="cards_items">
            <div class="square">
                <img src="{% static 'vote/img/award-banner.jpg' %}" alt="" class="mask blog-img">
                <div class="blog-h1">
                    nice work
                </div>
                <p class="blog-p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis eius facere nesciunt
                    voluptatum, mollitia suscipit cupiditate nostrum, sequi porro quia maiores explicabo quidem alias
                    minima perspiciatis error necessitatibus non deleniti.</p>
                <div>
                    <a class="blog-button" href="">Read More</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}