{% extends 'vote/base.html' %}
{% load static %}
primary: #ffb535;
text-color: #363738;
<style>


</style>

{% block content %}

<!-- banner -->
<div class="banners">
   
    <div class="blog-banner">
        <h1>Blog</h1>
    </div>

</div>
<br><br>
<div class="blog-containers">
    <!-- <div class="cards">
        {% for blog in blogs %}
        <div class="cards_items">
            <div class="square">
                <img src="{{ blog.image.url }}" alt="" class="mask blog-img">
                <div class="blog-h1">
                    {{ blog.title }}
                </div>
                <p class="blog-p">{{ blog.content }}</p>
                <div>
                    <a class="blog-button" href="{% url 'blog-detail' blog.slug %}">Read More</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div> -->

 <div class="blog-sub">
    <a  href="{% url 'blog-detail' %}">
<div class="blog-img">
          <img src="{% static 'vote/img/ben.jpg' %}"  alt="">
    </div>
    <div class="blog-text">
        <div class="date">
      <p>   <i class="fa fa-calendar"></i> 9th July, 2025 </p>
      <p><i class="fas fa-user"></i> By Benjamin</p>


        </div>
        <div class="text">

            <div class="blog-head">
                <h1>Breaking the cycles of poverty - Tips on how to make and save money</h1>
            </div>
            <div class="blog-p">
                <p>Saving money is harder when you are poor and that’s not your fault. It’s not that you’re undisciplined. It’s that your income is too low You can’t save what doesn’t exist. So the problem isn’t just saving , it’s earning more. </p>
            </div>

            <div class="read-detail">
                <a href=""> Read more</a>
            </div>
        </div>
    </div>


<div class="trending">
    <p>Trending</p>
</div>
    </a>
 </div>

 <div class="blog-sub">
    <a href="">
<div class="blog-img">
          <img src="{% static 'vote/img/ben.jpg' %}"  alt="">
    </div>
    <div class="blog-text">
        <div class="date">
      <p>   <i class="fa fa-calendar"></i> 9th July, 2025 </p>
      <p><i class="fas fa-user"></i> By Benjamin</p>


        </div>
        <div class="text">

            <div class="blog-head">
                <h1>Breaking the cycles of poverty - Tips on how to make and save money</h1>
            </div>
            <div class="blog-p">
                <p>Saving money is harder when you are poor and that’s not your fault. It’s not that you’re undisciplined. It’s that your income is too low You can’t save what doesn’t exist. So the problem isn’t just saving , it’s earning more. </p>
            </div>

            <div class="read-detail">
                <a href=""> Read more</a>
            </div>
        </div>
    </div>


<div class="trending">
    <p>Trending</p>
</div>
    </a>
 </div>

 <div class="blog-sub">
    <a href="">
<div class="blog-img">
          <img src="{% static 'vote/img/ben.jpg' %}"  alt="">
    </div>
    <div class="blog-text">
        <div class="date">
      <p>   <i class="fa fa-calendar"></i> 9th July, 2025 </p>
      <p><i class="fas fa-user"></i> By Benjamin</p>


        </div>
        <div class="text">

            <div class="blog-head">
                <h1>Breaking the cycles of poverty - Tips on how to make and save money</h1>
            </div>
            <div class="blog-p">
                <p>Saving money is harder when you are poor and that’s not your fault. It’s not that you’re undisciplined. It’s that your income is too low You can’t save what doesn’t exist. So the problem isn’t just saving , it’s earning more. </p>
            </div>

            <div class="read-detail">
                <a href=""> Read more</a>
            </div>
        </div>
    </div>


<div class="trending">
    <p>Trending</p>
</div>
    </a>
 </div>

 <div class="blog-sub">
    <a href="">
<div class="blog-img">
          <img src="{% static 'vote/img/ben.jpg' %}"  alt="">
    </div>
    <div class="blog-text">
        <div class="date">
      <p>   <i class="fa fa-calendar"></i> 9th July, 2025 </p>
      <p><i class="fas fa-user"></i> By Benjamin</p>


        </div>
        <div class="text">

            <div class="blog-head">
                <h1>Breaking the cycles of poverty - Tips on how to make and save money</h1>
            </div>
            <div class="blog-p">
                <p>Saving money is harder when you are poor and that’s not your fault. It’s not that you’re undisciplined. It’s that your income is too low You can’t save what doesn’t exist. So the problem isn’t just saving , it’s earning more. </p>
            </div>

            <div class="read-detail">
                <a href=""> Read more</a>
            </div>
        </div>
    </div>


<div class="trending">
    <p>Trending</p>
</div>
    </a>
 </div>


</div>

{% endblock content %}