{% extends 'vote/base.html' %}
{% load static %}
primary: #ffb535;
text-color: #363738;
<style>


</style>

{% block content %}

<!-- banner -->
<div class="banners">
   
    <div class="banners-content">
        <h1>Blog</h1>
    </div>

</div>
<br><br>
<div class="blog-container">
    <div class="cards">
        {% for blog in blogs %}
        <div class="cards_items">
            <div class="square">
                <img src="{{ blog.image.url }}" alt="" class="mask blog-img">
                <div class="blog-h1">
                    {{ blog.title }}
                </div>
                <p class="blog-p">{{ blog.content }}</p>
                <div>
                    <a class="blog-button" href="{% url 'blog-detail' blog.slug %}">Read More</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock content %}