{% extends 'vote/base.html' %}
{% load static %}
primary: #ffb535;
text-color: #363738;
<style>


</style>

{% block content %}

<!-- banner -->

<div class="blog-detail-container">
    <div class="heading">
        <h1> {{ blog.title }}</h1>
    </div>

    <div class="blogs-d">

        <div class="the-blogs">
            <div class="blog-date">
                <p class="td">Trending</p>
                <p> <i class="fa fa-calendar"></i> {{ blog.date_added|date:"F d, Y" }} </p>
                <p><i class="fas fa-user"></i> By {{ blog.author.username }}</p>
            </div>

            <div class="blog-big-image">
                <img src="{{ blog.image.url }}" alt="">
            </div>
            <div class="detail-text">
                {% if blog.content %}
                    <p> 
                        {{ blog.content|linebreaks }}
                    </p>
                {% endif %} 
                <br>
                {% if blog.content1 %}
                    <p> 
                        {{ blog.content1|linebreaks }}
                    </p>
                {% endif %} 
                <br>
                {% if blog.content2 %}
                <p>
                    {{ blog.content2|linebreaks }}
                </p>
                {% endif %} 
                <br>
                {% if blog.content3 %}
                <p>
                    {{ blog.content3|linebreaks }}
                </p>
                {% endif %} 
                <br>
                {% if blog.content4 %}
                <p>
                    {{ blog.content4|linebreaks }}
                </p>
                {% endif %} 
                <br>
                {% if blog.content5 %}
                <p>
                    {{ blog.content5|linebreaks }}
                </p>
                {% endif %}
                <br>
            </div>
        </div>






<div class="blog-side">
    

<div class="blog-share">
   <p> Share this page <i class="fas fa-share"></i> </p>
   <div class="socials">
  <!-- Facebook -->
  <a href="{{ share_urls.facebook }}" target="_blank">
    <i class="fab fa-facebook-f" style="color: #1877F2;"></i>
  </a>

  <!-- TikTok -->
  <a href="{{ share_urls.twitter }}" target="_blank">
    <i class="fab fa-twitter" style="color: #010101;"></i>
  </a>

  <!-- Instagram -->
  <a href="{{ share_urls.linkedin }}" target="_blank">
    <i class="fab fa-linkedin-in" style="color: #E4405F;"></i>
  </a>

  <!-- WhatsApp -->
  <a href="{{ share_urls.whatsapp }}" target="_blank">
    <i class="fab fa-whatsapp" style="color: #25D366;"></i>
  </a>
</div>

</div>

<div class="reconmended">
    <p>Also reconmemnded</p> <br>
    {% if recommended_blogs %}
    {% for blog in recommended_blogs %}
    <a href="{{ blog.get_absolute_url }}">
    <div class="blog-rec">
          <img src="{{ blog.image.url }}" alt="">
          <div class="blog-rec-ext">
            {{ blog.title }}
          </div>
          
    </div>
</a>
    {% endfor %}
    {% endif %}
    
    
</div>
</div>


    </div>
</div>


{% endblock content %}