{% extends 'vote/base.html' %}
{% load static %}

{% block content %}

<!-- banner -->
<div class="banners">
   
    <div class="banners-content">


        <h1>{% if category %}{{ category.award }}{% else %}Award Name{% endif %}</h1>
        <br>
        <p>{% if category %}{{ category.title }}{% else %}Award Name{% endif %}</p>
        <!-- <div class="button">
            <a href="{% url 'nominate' category.slug %}">Nominate</a>
        </div> -->
    </div>
 <!-- search bar -->

<div class="search-bar-section">
    <form action="" method="GET">
        <input type="search" name="search" id="search" placeholder="Search Category...."
            value="{{ search_item|default:'' }}">
    </form>
</div>

    <!-- end of banner section -->
    <div class="spinner">
        <div class="skeleton-spinner"></div>
        <p>Please wait! We are putting everything togethere for you</p>
    </div>



    <!-- Award category section -->
    <div class="award-category-section content">
        <div class="award-category-container">
            <!-- first category -->
            {% for a in award %}
            <a href="{% url 'nominee_detail' a.slug %}" class="category">
                <div class="category-sub">
                    <img src="{{ a.category.image.url }}" alt="image">

                    <div class="category-details">
                        <h2>{{ a.category.title }}</h2>
                        <h3>{{ a.content }}</h3>

                    </div>

                </div>
            </a>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock content %}