{% extends 'vote/base.html' %}
{% load static %}
{% block content %}


    <!-- banner -->
    <div class="banners">
        <img src="{% static 'vote/img/award-banner.jpg' %}" alt="image">
        <div class="banners-content">
            <h1>Contact Us</h1>
        </div>
 
    </div>

    <!-- contact us section -->
    <section class="contact-us-section">
        <div class="contact-details">
            <p>Call Us on</p>
            
            <i class="fa-solid fa-phone" id="call"></i>
            <p>+233 55 391 2334</p>

        </div>

        <div class="contact-details">
            <p>Email Us On</p>
            <i class="fa-solid fa-envelope"></i>
            <p>putyouremail@email.com</p>
        </div>


 <div class="contact-details social-media">
    <p>Follow Us VoteAfric on</p>
    <div class="socials">
    <a href=""><i class="fa-brands fa-facebook"></i></a>
<a href="">    <i class="fa-brands fa-instagram"></i></a>
    <a href=""><i class="fa-brands fa-tiktok"></i></a>
    <a href="">    <i class="fa-brands fa-twitter"></i>
    </a>
    </div>
   
        </div>
    </section>


    









  


  
  



  {% endblock content %}