{% extends 'vote/base.html' %}
{% load static %}
{% block content %}


<!-- banner -->
<div class="banners">
    
    <div class="banners-content">
        <h1>Contact Us</h1>
    </div>

</div>

<!-- contact us section -->
<section class="contact-us-section">
    <div class="contact-details">
        <p>Call Us on</p>

        <i class="fa-solid fa-phone" id="call"></i>
        <p style="color: #fff;">+233 55 391 2334</p>

    </div>

    <div class="contact-details">
        <p>Email Us On</p>
        <i class="fa-solid fa-envelope"></i>
        <a href="mailto:voteafric66@gmail.com"><p>voteafric66@gmail.com</p></a>
        
    </div>


    <div class="contact-details social-media">
        <p>Follow Us VoteAfric on</p>
        <div class="socials">
            <a href="https://www.facebook.com/share/12J3YyHUZ82/?mibextid=wwXIfr"><i
                    class="fa-brands fa-facebook"></i></a>
            <a href="https://www.instagram.com/vote.afric?igsh=MWs2amU2Zm9sNHQ3MQ%3D%3D&utm_source=qr"> <i
                    class="fa-brands fa-instagram"></i></a>
            <a href=""><i class="fa-brands fa-tiktok"></i></a>
            <a href="https://x.com/vote_afric?s=21"> <i class="fa-brands fa-twitter"></i>
            </a>
        </div>

    </div>
</section>




















{% endblock content %}