{% extends 'vote/base.html' %}
{% load static %}
{% block content %}

<!-- banner section -->
<section id="banner">
  <div class="container">
    <div class="row">
      <div class="banner-content">
       <div class="text-slide">
        <div class="text">
          <h1>WELCOME TO THE TRUSTED ONLINE <span>VOTING </span> PLATFORM</h1>
          <p>Greetings from our virtual polling booth! Our goal is to completely transform the way individuals take part in awards by
            offering an easy and convenient voting process.</p>
        </div>
        <div class="text">
          <h1>MAKE YOUR VOICE HEARD WITH OUR SECURE <span>VOTING</span> SYSTEM</h1>          
          <p>Our secure online voting platform empowers individuals to participate in the democratic process from anywhere in the world. With state-of-the-art security measures in place, your vote is safeguarded and your voice matters.</p>
        </div>
        <div class="text">
          <h1>EXPERIENCE THE FUTURE OF <span>VOTING</span> TODAY</h1>

          <p>Join us in revolutionizing the way we participate in voting. Our innovative platform ensures transparency, accessibility, and integrity, making voting easier and more reliable than ever before.</p>
        
        </div>
       </div>
        
      </div>

      <div class="banner-img">
        <img src="{% static 'vote/img/2.svg' %}" alt="image">
      </div>
    </div>
  </div>
  </div>
  </div>
</section>
<!-- search bar -->
<div class="search-bar-section">
  <form action="{% url 'index' %}">
    <input type="search" name="search" id="search" placeholder="Search Award....">
  </form>
</div>
<!-- end of banner section -->
<div class="spinner">
  <div class="skeleton-spinner"></div>
  <p>Please wait! We are putting everything togethere for you</p>
</div>

<!-- ongoing award -->
<div class="award-main-container content">
  <div class="ongoin-event">
    {% if all_categories %}
    <h2>Ongoing Events <i class="fa-solid fa-wifi"></i></h2>
    {% else %}
    {% endif %}
  </div>

  <!-- awards -->
  <div class="award-container">
    <!-- Individual award items -->
    {% for c in all_categories %}
    <div class="award">
      <a href="{% url 'award_by_category' c.slug %}">
        <img src="{{ c.image.url }}" alt="image" loading="lazy">
        <div class="award-text">
          <h4>{{ c.title }}</h4>
          <h5>{{ c.award }}</h5>
        </div>
      </a>
    </div>


    {% endfor %}
  </div>
</div>

<script>
  const textSlide = document.querySelector(".text-slide")
  const textElement = document.querySelectorAll(".text")
  let = currentSlide = 0
  function showslideText (){
    textElement.forEach((element)=>{
      element.style.display="none"
    })

    textElement[currentSlide].style.display ='block'
    currentSlide=(currentSlide + 1) % textElement.length
    setTimeout(showslideText, 5000)
  }

  showslideText()
</script>
{% endblock content %}