{% extends 'vote/base.html' %}
{% load static %}
{% block content %}

<!-- banner section -->
<section id="banner">
  <div class="container">
    <div class="row">
      <div class="banner-content">
        <h1>ONLINE VOTING SYSTEM</h1>
        <p>Online voting systems are software platforms used to securely conduct votes and elections. As a digital
          platform, they eliminate the need to cast your votes using paper or having to gather in person.</p>
      </div>

      <div class="banner-img">
        <img src="{% static 'vote/img/2.svg' %}" alt="image" >
      </div>
    </div>
    </div>
    </div>
    </div>
  </section>
  <!-- end of banner section -->
  <div class="spinner">
    <div class="skeleton-spinner"></div>
    <p>Please wait! We are putting everything togethere for you</p>
  </div>

  <!-- ongoing award -->
  <div class="award-main-container content">
    <div class="ongoin-event">
      <h2>Ongoing Event <i class="fa-solid fa-award"></i></h2>
    </div>

  <!-- awards -->
  <div class="award-container">
    <!-- Individual award items -->
    {% for c in categories %}
    <div class="award">
      <a href="{% url 'award_by_category' c.slug %}">
        <img src="{{ c.image.url }}" alt="image">
        <div class="award-text">
          <h4>{{ c.title }}</h4>
          <h5>{{ c.award }}</h5>
        </div>
      </a>
    </div>


    {% endfor %}
  </div>
  </div>
  
{% endblock content %}