{% extends 'vote/base.html' %}
{% load static %}
{% block content %}

    <!-- banner -->
    <div class="banners">
        <img src="{% static 'vote/img/award-banner.jpg' %}" alt="image">
        <div class="banners-content">
            <h1>Award Name</h1>

        </div>

    </div>


    <!-- nominee-information section -->
    <section class="nominee-information-section">
        <h2>Nominee Information</h2>
        <p class="nominationNote">Please Note: If you are nominating someone else, kindly ensure you are providing the
            correct details of the
            person to prevent misinformation and disqualification of the nomination </p>

        <!-- nominee information form -->
        <form action="" class="nomination-form-container">
            <!-- this where nominee selected image will display -->
           
            <div class="nomination-form">
                
                <div class="input choosen-image">
                    
                    <!-- this the input field users can use to select their the image -->
                    <input placeholder="Select an image..." id="file-upload" type="file" class="uploadImage" required>
                    <label for="imageInput">Click to pick image for nominee</label> <br>
                   
                    <!-- This section is where the choosen image will be played -->
                    <div class="image-receiver" >
                        <img src="{% static 'vote/img/profile.png' %}" alt="image">
                    </div>

                </div>
                <div class="input-container">
                    
                    <div class="input">
                        <!-- category of the award -->
                        <label for="">Category</label> <br>
                        <input type="text" required placeholder="Category">
                    </div>
                    <div class="input">
                        <!-- Nominee Name -->
                        <label for="">Nominee Name</label> <br>
                        <input type="text" required placeholder="Nominee Name">
                    </div>
                </div>
                <div class="input-container">
                    <div class="input">
                        <!-- Nominee Phone Number -->
                        <label for="">Nominee Phone Number</label> <br>
                        <input type="number" required placeholder="Phone Number">
                    </div>
                    <div class="input">
                        <!-- Nominee Email Address -->
                        <label for="">Nominee Email Address</label> <br>
                        <input type="email" required placeholder="Email">
                    </div>


                </div>
                <div class="input">
                    <!--  Reason for nomination(Include links to relevant media!)-->
                    <label for="">Reason for nomination(Include links to relevant media!)
                    </label> <br>
                    <p>You can include links to relevant media. This gives you a better chance being nominated.
                    </p> <br>
                    <textarea name="" id="" placeholder="Reason for nomination"></textarea>
                </div>

            

                <div class="nominate-button">
                    <button>Submit</button>
                </div>
            </div>

        </form>
    </section>





    {% endblock content %}



















   