{% extends 'vote/base.html' %}
{% load static %}
{% block content %}


<!-- banners -->
<div class="banners">
    <img src="{% static 'vote/img/award-banner.jpg' %}" alt="image">
    <div class="banners-content">
        <h1>Policy</h1>
    </div>

</div>


<!-- policy section -->
<section class="policy-container">
    <div class="policy-col">
        <p>When a consumer emails us, we collect their email address, access and visitation history, and any optional information
        they choose to submit (such as survey responses and/or site registrations). We don't sell or share the information we
        collect with outside parties; instead, we use it to improve the caliber of our services and the information on our
        websites.

        </p>
    </div>

    <div class="policy-col">
        <h3> Information Gathering and Usage</h3>
        <p>In order to help us provide the services to you, we may ask for information about you during the registration process,
        including your name, company name, email address, and billing address (collectively, "Registration Information").
        Additionally, in order to use our service for nominee processes like election notification, voting eligibility
        verification, and vote results, you will be asked to share information about your nominees (collectively, "Nominee
        Information"), including email addresses, phone numbers, and mailing addresses. <span>VoteAfric</span>
        NEVER DISCLOSE TO ANY THIRD PARTY VOTER OR REGISTRATION INFORMATION.</p>
        </p>
    </div>
    <div class="policy-col">
        <h3>Cookies</h3>
        <p> A cookie is a small piece of information that is transferred from the computers running a website to your browser and
        saved on the hard drive of your computer. It frequently contains an anonymous unique identifier. <span>VoteAfric</span> requires
        cookies in order to function. We don't use permanent cookies; instead, we use them to store information about the
        current session. To safeguard you against someone unintentionally accessing the contents of your account, you must log
        in to your account after a predetermined amount of inactivity has passed.

        </p>
    </div>
    <div class="policy-col">
        <h3>Analytics</h3>
        <p>We use non-personally identifiable data about site visitors, their use of our website, and their visits to other
        categories of websites across the internet, using Google Analytics (including Display Advertising and Google Analytics
        Demographics and Interest Reporting). We use this data to enhance and personalize our marketing campaigns and website.
        Check out Google's Privacy Policy to find out how they use the information they gather. You can always change your Ad
        Settings on Google and visit Google to opt out of Google Analytics Display Advertising on all websites.

        </p>
    </div>
    <div class="policy-col">
        <h3>Data Storage</h3>
        <p>Hardware, software, networking, storage, and other related technologies are provided by third-party vendors and hosting
        partners on behalf of <span>VoteAfric</span>. You maintain all ownership rights to your data even though <span>VoteAfric</span> owns the
        databases, code, and application rights.

        </p>
    </div>
    <div class="policy-col">
        <h3>Disclosure</h3>
        <p>In certain situations, like when you violate the terms of service or need to comply with a subpoena, <span>VoteAfric</span> may
        disclose personally identifiable information. Information sharing may be required to look into, stop, or take action
        regarding suspected or confirmed illegal activity. Examples of such activities include fraud and circumstances where
        there may be a risk to someone's physical safety, among other things. Sharing information may also be necessary as
        required by law.

        </p>
    </div>

    <div class="policy-col">
        <h3>Changes</h3>
        <p><span>VoteAfric</span> may revise this policy from time to time. If there are any substantial changes to the way we handle personal
        information, we'll let you know by posting a notice on our website or sending a notice to the primary email address you
        provided when creating your account. Queries Questions concerning this privacy statement should be sent to
        support@<span>VoteAfric</span>.


        </p>
    </div>
</section>



















{% endblock content %}