{% extends 'vote/base.html' %}
{% load static %}
{% block content %}


    <!-- banner -->
    <div class="banners">
        <img src="{% static 'vote/img/award-banner.jpg' %}" alt="image">
        <div class="banners-content">
            <h1>Category Name</h1>
        </div>
    </div>

    <!-- result of the nominees -->
    <section class="nominees-result-section">
        <h2>Voting Result</h2>
        <div class="nominee-result">

            <!-- nominee image -->
            <div class="nominee-img">
                <img src="{% static 'vote/img/profile.png' %}" alt="image">
            </div>

            <!-- nominee name -->
            <div class="nominee-name">
                <h4>Nominee Name</h4>
            </div>

            <!-- number of vote nominee has -->
            <div class="number-of-vote-currently">
                <p>00</p>
            </div>
            
        </div>
       
    </section>






















    {% endblock content %}