{% extends 'vote/base.html' %}
{% load static %}
{% block content %}

<!-- banner -->
<div class="banners">
    <img src="{% static 'vote/img/award-banner.jpg' %}" alt="image">
    <div class="banners-content">
        <h1>Terms And Condition</h1>
    </div>

</div>


<section class="terms-conndition-container">
    <div class="terms-col">
        <p>You agree to be bound by the following terms and conditions (the "Terms of Service") by using the VoteAfric.com website
        ("Service") and all of VoteAfric's services. VoteAfric maintains the right, at any moment and without prior notice, to
        alter and modify the Terms of Service. The most recent version of the Terms of Service is available at any moment
        at:terms-conditions. </p>
    </div>

    <div class="terms-col">
        <h3> Account Terms
        </h3>
        <p>You have to be a person. It is not allowed to register accounts using "bots" or other automated techniques. You bear the
        responsibility for keeping your password and account secure. VoteAfric disclaims all liability for any loss or damage
        resulting from your noncompliance with this security obligation. For everything that happens under your account, you are
        accountable. You are not permitted to use the Service for any unauthorized or unlawful purposes. You agree not to break
        any local, state, federal, or international laws while using the Service. It is prohibited for you to send unsolicited
        (or "spam") mail using our service. Should you violate any of these terms, your account could be terminated.

        </p>
    </div>
    <div class="terms-col">
        <h3> Payment Terms
        </h3>

        <p>To cast a vote using a Visa or Mastercard, you must have a valid credit card. Unless and until payment is required, you
        are not obligated to provide your credit card number. Our payment processor receives all payments directly.
        - PayStack. Once a vote has begun, there are no refunds; however, VoteAfric retains the right, at its sole discretion,
        to handle a refund following review and inquiry with payment partners or processor. The fees mentioned above do not
        include any taxes, levies, or duties that may be imposed by taxing authorities. It is your responsibility to pay any
        such taxes, levies, or duties.

        </p>
    </div>
    <div class="terms-col">
        <h3>Cancellation and Termination
        </h3>
        <p>VoteAfric reserves the right, at any time and for any reason, to suspend or terminate your account and to prohibit you
        from using the Service or any other VoteAfric service going forward.

        </p>
    </div>

    <div class="terms-col">
        <h3>Modifications to the Service and Prices
        </h3>
        <p>VoteAfric maintains the right to change or stop the Service (or any portion of it) at any time and without prior notice,
        either temporarily or permanently. All service prices are subject to change at any time and without prior notice.
        VoteAfric will not be responsible to you or any other party for any changes to the Service's price, availability,
        suspension, or discontinuation.

        </p>
    </div>

    <div class="terms-col">
        <h3> Copyright and Content Ownership
        </h3>
        <p>Regarding the content you provide to the Service, we make no intellectual property rights claims. You still own your
        uploaded materials and profile. On the other hand, you consent to letting others view your content if you disclose the
        results of your vote. The Service's appearance and feel are protected by copyright © 2024 VoteAfric.com. All rights
        reserved.
        The overall style and feel of the VoteAfric.com website may not be copied, but individual design elements may be used
        again with the express intent of enabling a vote through the use of the Service. You need to ask our permission for any
        other uses.
        </p>
    </div>

    <div class="terms-col">
        <h3> General Conditions

        </h3>
        <p>Your use of the Service is at your sole risk. The service is provided on an “as is” and “as available” basis.
            You must not modify, adapt or hack the Service or modify another website so as to falsely imply that it is
            associated with the Service, VoteAfric, or any other VoteAfric service. You agree not to reproduce, duplicate,
            copy, sell, resell or exploit any portion of the Service, use of the Service, computer code that powers the
            Service, or access to the Service without the express written permission by VoteAfric. VoteAfric does not
            warrant that (i) the service will meet your specific requirements, (ii) the service will be uninterrupted,
            timely, secure, or error-free, (iii) the results that may be obtained from the use of the service will be
            accurate or reliable, (iv) the quality of any products, services, information, or other material purchased
            or obtained by you through the service will meet your expectations, and (v) any errors in the Service will
            be corrected. You expressly understand and agree that VoteAfric shall not be liable for any direct, indirect,
            incidental, special, consequential or exemplary damages, including but not limited to, damages for loss of
            profits, goodwill, use, data or other intangible losses (even if VoteAfric has been advised of the
            possibility of such damages), resulting from: (i) the use or the inability to use the service; (ii) the cost
            of procurement of substitute goods and services resulting from any goods, data, information or services
            purchased or obtained or messages received or transactions entered into through or from the service; (iii)
            unauthorized access to or alteration of your transmissions or data; (iv) statements or conduct of any third
            party on the service; or (v) any other matter relating to the service. The failure of voteHere to exercise
            or enforce any right or provision of the Terms of Service shall not constitute a waiver of such right or
            provision. The Terms of Service constitutes the entire agreement between you and VoteAfric and govern your
            use of the Service, superseding any prior agreements between you and VoteAfric (including, but not limited
            to, any prior versions of the Terms of Service). You understand and agree that as an administrator, you will
            share certain information about your voters in order to facilitate the VoteAfric voting process, namely
            sending notice, recording the vote, tallying the winners, sharing the results and confirming the validity of
            the vote. VoteAfric warrants that it will undertake commercially reasonable efforts to safeguard voter
            information along ensuring the privacy of said information as per privacy-policy Questions about the Terms
            of Service should be sent to support@VoteAfric.com.
        </p>
    </div>
</section>












{% endblock content %}