* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    list-style: none;
    text-decoration: none;
}

:root {
    --background-color1: #fafaff;
    --background-color2: #ffffff;
    --background-color3: #ededed;
    --background-color4: #afc0f0a4;
    --primary-color: #4b49ac;
    --secondary-color: #0c007d;
    --Border-color: #3f0097;
    --one-use-color: #3f0097;
    --two-use-color: #5500cb;
    --red: #E31C25;
    --blue: #092347;

    --white: #fff;
    --blue: #011f4a;

    --voiletColor: #522a83;
    --orangeColor: #fb812b;
    --whiteColor: #fff;



}

body {
    max-width: 100%;
    overflow-x: hidden;
    background-color: #f9f9f9;
}

header {
    height: 70px;
    width: 100vw;
    padding: 0 30px;
    background-color: var(--voiletColor);
    position: fixed;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 27px;
    font-weight: 600;
    color: rgb(47, 141, 70);
}

.logo img {
    width: 120px;
}

.icn {
    height: 30px;
}

.menuicn {
    cursor: pointer;
}



.logosec {
    display: flex;
    align-items: center;
    justify-content: center;
}

.message {
    color: var(--white);
}


.logosec {
    gap: 60px;
}



.heading {
    background-color: var(--background-color4);
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 1%;
    color: var(--voiletColor);
    font-weight: 900;
}
.heading span{
    color: var(--orangeColor);
}

.data {

    padding: 20px;
    border-radius: 5px;
    display: none;
}

.message {
    gap: 40px;
    position: relative;
    cursor: pointer;
}

.circle {
    height: 7px;
    width: 7px;
    position: absolute;
    background-color: #fa7bb4;
    border-radius: 50%;
    left: 19px;
    top: 8px;
}



.main-container {
    display: flex;
    width: 100vw;
    position: relative;
    top: 70px;
    z-index: 1;
}


.main {
    height: calc(100vh - 70px);
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 40px 30px 30px 30px;
}

.main::-webkit-scrollbar-thumb {
    background-image:
        linear-gradient(to bottom, rgb(0, 0, 85), rgb(0, 0, 50));
}

.main::-webkit-scrollbar {
    width: 5px;
}

.main::-webkit-scrollbar-track {
    background-color: #9e9e9eb2;
}

.box-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
}

.nav {
    min-height: 100vh;
    width: 250px;
    background-image: linear-gradient(to bottom, #522a83, #a517ba);
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 1px 1px 10px rgba(198, 189, 248, 0.825);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    padding: 20px 20px 20px 20px;

}

.navcontainer {
    height: calc(100vh - 70px);
    width: 290px;
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
    transition: all 0.5s ease-in-out;
    z-index: 600;
}

.navcontainer::-webkit-scrollbar {
    display: none;
}

.navclose {
    width: 80px;
}

.button {
    width: 200px;
    min-height: 60px;
    display: flex;
    align-items: center;
    padding: 5px;
    gap: 20px;
    transition: all 0.1s ease-in-out;
    border: solid 1px;
    padding: 10px;
    color: var(--white);
    border-radius: 5px;


}

.Settings {
    display: flex;
    flex-direction: column;
}

.sett-but {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    width: 100%;
    min-height: 5vh;
}

.darkMode-button {
    display: none;
    width: 100%;
    min-height: 5vh;
    cursor: pointer;
    border: none;
}

.button:hover {
    border-left: 5px solid #a2a2a2;
    background-color: var(--orangeColor);
    cursor: pointer;
}

.nav-img {
    height: 30px;
}

.nav-upper-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.ongoin-awards-container,
.categories-container,
.registered-awards-container,
.registered-category,
.transaction-for-awards {
    padding-top: 4%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
.ongoin-awards-container h2,
.categories-container h2,
.list-of-nominees h2,
.registered-awards-container h2,
.registered-category h2,
.transaction-for-awards h2 {

    font-size: 0.8rem;
    text-align: center;
    color: var(--voiletColor);
    padding: 10px;
}

.ongoin-awards-container a,
.categories-container a,
.registered-category a {
    padding: 5px;
    width: 100%;
    max-width: 300px;
    box-shadow: 1px 1px 5px 3px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    min-height: 40vh;
    background-color: var(--white);
}
.awards-transaction-container{
    padding: 5px;
    width: 100%;
    max-width: 300px;
    box-shadow: 1px 1px 5px 3px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    min-height: 40vh;
    background-color: var(--white);  
}
/* .ongoin-awards-container a:hover,
.categories-container a:hover,
.registered-category a:hover {
    padding: 5px;
    width: 100%;
    max-width: 250px;
    box-shadow: 1px 1px 5px 3px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    min-height: 40vh;
    background-color: var(--white);
   
} */




@keyframes zoomin {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.1);
    }
}




.insight button{
    width: 100%;
    max-width: 300px;
    border: none;
    background-color: var(--Border-color);
    cursor: pointer;
    color: var(--white);
    height: 8vh;
    font-size: 1rem;
}

.revenue-container{
    width: 100%;
    padding: 2%;
 
}
 .revenue-container .table-container{
    display: none;
} 



/* this is banner on the other pages */
.banners {
    position: relative;
   
   
}




.banners-content {
    background-color: var(--voiletColor);
    width: 100%;
    height: 30vh;

    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--whiteColor);
    
}



.awards-img img,
.category img,
.registered-awards img,
.awards-transaction-container img {
    width: 100%;
    height: 30vh;
    object-fit: cover;
}


.list-of-nominees {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.nominee-container {
    width: 100%;
    max-width: 100%;
    padding: 15px;
    box-shadow: 1px 1px 5px 3px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.nominee-img img {
    width: 100%;
    height: 40vh;
    object-fit: cover;
}

.nominees-interface {
    display: flex;

    gap: 2rem;
    margin-top: 5%;

}



.total-number-of-vote-cast {
    width: 100%;
    position: relative;
    max-width: 300px;
    height: 300px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    z-index: 100;
    border-top: solid 10px #fff;
    border-bottom: solid 10px var(--Border-color);
    border-left: solid 10px var(--Border-color);
    border-right: solid 10px yellow;
    box-shadow: 1px 1px 5px 3px rgba(0, 0, 0, 0.1);

}

.total-number-of-vote-cast::before {
    position: absolute;
    content: "";
    width: 250px;
    height: 250px;
    z-index: -1;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    background-color: var(--white);
    transform: translate(-50%, -50%);
    box-shadow: 1px 1px 5px 3px rgba(0, 0, 0, 0.1);

    animation: rotateBorder 10s linear infinite;
}

.total-number-of-vote-cast img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}



.list-of-nominees-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 5% 0;
}

.list-of-nominees {
    width: 100%;
    background-color: #011f4a;
    position: relative;
}

.table-container {
    width: 100%;
    max-width: 100%;
    flex-grow: 1;
    flex-basis: 0;
    box-shadow: 2px 1px 5px 3px rgba(0, 0, 0, 0.1);


}

.table-container img {
    width: 100px;
    height: 10vh;
    object-fit: contain;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: var(--white);
    box-shadow: 1px 1px 5px 3px rgba(0, 0, 0, 0.1);

}

table th,
table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

table th {
    background-color: var(--voiletColor);
    color: var(--white);
}

table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

table tbody tr:hover {
    background-color: #f2f2f2;
}

.total-number-of-nomiees {
    width: 100%;
    position: relative;
    max-width: 300px;
    height: 300px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    z-index: 100;
    border-top: solid 10px #fff;
    border-bottom: solid 10px var(--Border-color);
    border-left: solid 10px var(--Border-color);
    border-right: solid 10px yellow;
    box-shadow: 1px 1px 5px 3px rgba(0, 0, 0, 0.1);
}

.total-number-of-nomiees::before {
    position: absolute;
    content: "";
    width: 250px;
    height: 250px;
    z-index: -1;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    background-color: var(--white);
    transform: translate(-50%, -50%);
    box-shadow: 1px 1px 5px 3px rgba(0, 0, 0, 0.1);

    animation: rotateBorder 10s linear infinite;
}

@keyframes rotateBorder {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
        border: 3px solid red;
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg);
        border: 3px solid #5500cb;
    }
}



.revenue-table {
    width: 100%;
    border-collapse: collapse;
}

.revenue-table th,
.revenue-table td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.revenue-table th {
    background-color: var(--voiletColor);
}

.revenue-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.back-button {
    margin: 5% 0;
}

.back-button button {
    background-color: var(--voiletColor);
    width: 100px;
    height: 7vh;
    cursor: pointer;
    color: var(--white);
    border: none;
}


.duration {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.column {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: var(--voiletColor);
    color: var(--white);
}

.column:first-child {
    background-color: var(--orangeColor);
}

.chart {
    margin: 5% 0;
    background-color: var(--white);
    box-shadow: 1px 1px 5px 3px rgba(0, 0, 0, 0.1);
    padding: 20px 10px;

}

.chart h3 {
    color: var(--voiletColor);
    font-size: 1.4rem;
}


/* team */
.team-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 5% 0;
}

.team {
    width: 100%;
    max-width: 300px;
    box-shadow: 2px 1px 5px 3px rgba(0, 0, 0, 0.1);
    min-height: 50vh;
    padding: 10px;
    background-color: var(--white);


}

.team img {
    width: 100%;
    height: 50vh;
    object-fit: cover;
}

.team-detail {
    text-align: center;
    padding: 5px 0;
}

.team-detail p {
    padding: 5px 0;
    font-weight: bolder;
}

.team-detail span {
    color: var(--orangeColor);
}

.team-detail a {
    color: var(--voiletColor);
    font-weight: 900;
}



/* admin landing page style */
.statistics-container {
    margin: 2% 0;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.stat-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    width: 100%;
    max-width: 400px;
    min-height: 15vh;
    box-shadow: 2px 1px 5px 3px rgba(0, 0, 0, 0.1);
    animation: rotateBorder 5s linear infinite;
    border: 3px solid transparent;
    border-radius: 25px;

}





@keyframes rotateBorder {
    0% {
        border-color: var(--orangeColor);

    }

    25% {
        border-color: var(--voiletColor);

    }

    50% {
        border-color: var(--one-use-color);

    }

    75% {
        border-color: var(--red);

    }

    100% {
        border-color: var(--orangeColor);

    }
}

.recent-project {
    margin: 5% 0;
}

.recent-project table {
    margin-top: 2%;
}




/*  logout-pop*/
.logout-pop {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    top: 0;
    z-index: 80;
    display: none;

}

.logout {
    animation: zooms 0.6s;
    position: absolute;
    top: 50%;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--white);
    width: 100%;
    max-width: 500px;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@keyframes zooms {
    0% {
        transform: scale(1.1);
    }
}


.log-button {
    margin: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.log-button button {
    width: 150px;
    min-height: 5vh;
    background-color: var(--orangeColor);
    text-align: center;
    cursor: pointer;
    border: none;
    color: var(--white);
}

.log-button button:first-child {
    background-color: var(--voiletColor);

}


 .award-name, .download{
    color: var(--white);
    background-color: var(--voiletColor);
    width: 100%;
    min-height: 7vh;
   padding: 15px 20px;
   text-align: center;
   
}

.download {
    color:var(--white);
    background-color: var(--orangeColor);
    margin-top: 5%;

  
}

/* Apply responsive styles for smaller screens */


@media screen and (max-width: 600px) {

    .data table th,
    .data table td {
        white-space: normal;
        max-width: none;
        display: block;
    }

    .data table th {
        position: sticky;
        top: 0;
        background-color: #fff;
        z-index: 1;
    }

    .data table td {
        border-top: none;
    }

    .nav {
        z-index: 2;
    }

    .list-of-nominees {
        grid-template-columns: 1fr 1fr;
    }
}

/* Responsive CSS Here */
@media screen and (max-width: 950px) {
    .nav-img {
        height: 25px;
    }

    .button {
        gap: 30px;
    }


}

@media screen and (max-width: 850px) {
    .nav-img {
        height: 30px;
    }

    .button {
        gap: 30px;
    }

    .button h3 {
        font-size: 20px;
    }

    .nominees-interface,
    .list-of-nominees-container {
        flex-direction: column-reverse;
        align-items: center;
    }



    .navcontainer {
        width: 100vw;
        position: absolute;
        transition: all 0.6s ease-in-out;
        top: 0;
        left: -100vw;
    }

    .nav {
        width: 100%;
        position: absolute;
    }

    .navclose {
        left: 00px;
    }



    .main {
        padding: 40px 30px 30px 30px;
    }


}

@media screen and (max-width: 490px) {
    .message {
        display: none;
    }

    .logosec {
        width: 100%;
        justify-content: space-between;
    }

    .logo {
        font-size: 20px;
    }

    .menuicn {
        height: 25px;
    }

    .nav-img {
        height: 25px;
    }

    .button {
        gap: 25px;
    }

    .button h3 {
        font-size: 12px;
    }

    .nav-upper-options {
        gap: 15px;
    }

    .list-of-nominees {
        grid-template-columns: 1fr;
    }


}

@media screen and (max-width: 400px) {

    .view {
        width: 60px;
        font-size: 10px;
        height: 27px;
    }


}

@media screen and (max-width: 320px) {}


.active {
    background-color: var(--orangeColor);
}