{% extends 'vote/base.html' %}
{% load static %}
{% block content %}

<!-- banner -->
<div class="banners">
    <!-- <img src="{% static 'vote/img/award-banner.jpg' %}" alt="image"> -->
    <div class="banners-content">
        <h1>{{ award.award }}</h1>
        <br>
        <p>{{ award.title }}</p>
    </div>

</div>


<div class="nomination-forms">
    <!-- Nomination Form -->
    <form id="nominationForm" method="POST" enctype="multipart/form-data">
        <h3>Please, fill out the forms for nomination</h3>
        {% csrf_token %}
        <!-- Image display section -->
        <div class="hero">
            <label for="input-file" id="drop-area" >
                <!-- File input for image upload -->
                <input  type="file" accept="image/" name="image" id="input-file" hidden required>
                
                <!-- Image view container -->
                <div id="img-view">
                    <!-- Default image with upload note -->
                    <img loading="lazy" src="{% static 'vote/img/508-icon.png' %}" alt="" class="imageExmple">
                    <p class="image-upload-note">Click to upload <br> nominee image </p>
                </div>
            </label>
        </div>

        <!-- Nomination form inputs -->
        <div class="form-container">
            <div class="form">
                <div class="input-container">
                    <!-- Category input -->
                    <div class="input">
                        <label for=""><i class="fa-solid fa-list"></i> Category</label> <br>
                        <input type="text" name="category" placeholder="Category" required>
                        <!-- <select name="category" required value="{{award.category}}">
                            <option value="">{{ award.category }}</option>
                        </select> -->

                    </div>
                    <!-- Phone Number input -->
                    <div class="input">
                        <label for=""><i class="fa fa-phone-volume"></i>  Phone Number</label> <br>
                        <input type="text" name="phone" placeholder="Phone Number" required>
                    </div>
                </div>
    
                <div class="input-container">
                    <!-- Name input -->
                    <div class="input">
                        <label for=""><i class="fa-solid fa-signature"></i>  Name</label> <br>
                        <input type="text" name="name" placeholder="Name" required>
                    </div>
                    <!-- Email input -->
                    <div class="input">
                        <label for=""><i class="fa-solid fa-envelope"></i>  Email</label> <br>
                        <input type="email" name="email" placeholder="Email">
                    </div>
                </div> 
            </div>
           
            <!-- Reason for nomination textarea -->
            <div class="textarea">
                <label for=""> <i class="fa-regular fa-message"></i> Justification for nomination (include links to pertinent media)
                </label> <br>
                <textarea name="content" id="" placeholder="Reason for nomination"></textarea>
            </div>
        </div>

        <!-- Nomination alert section -->
        <div class="nomination-alert">
            <p>Please Note: If you are nominating someone else, kindly ensure you are providing the correct details of
                the person to prevent misinformation and disqualification of the nomination</p>
        </div>
        <!-- Submit button -->
        <button>Submit</button>
    </form>
    
</div>

<div class="alert-user-submition">
    <div class="alert-message">
     <p>You have successfuly submitted nominee's details</p>
    </div>
    <div class="remov-alert">
        <i class="fa-solid fa-xmark"></i>
    </div>
</div>

<script defer> 

// Nomination alert
const alert_user_submition = document.querySelector(".alert-user-submition")
const removeAlert = document.querySelector(".remov-alert")

function removeNominationAlert(){
removeAlert.addEventListener("click",()=>{
    alert_user_submition.style.display = "none"
})
}

removeNominationAlert()
document.addEventListener("DOMContentLoaded", function() {
    const form = document.getElementById("nominationForm");
    const submissionAlert = document.querySelector(".alert-user-submition");
    const formSubmitted = sessionStorage.getItem("formSubmitted");

    if (formSubmitted) {
        submissionAlert.style.display = "block";
        setTimeout(() => {
            submissionAlert.style.display = "none";
            sessionStorage.removeItem("formSubmitted");
        }, 5000);
    }
});
const nominateForm = document.getElementById("nominationForm");

nominateForm.addEventListener("submit", (event) => {
    sessionStorage.setItem("formSubmitted", true);
});



</script>

{% endblock content %}