{% extends 'vote/base.html' %} {% load static %} primary: #ffb535; text-color:
#363738;
<style></style>

{% block content %}

<!-- banner -->
<div class="banners">
  <div class="banners-content">
    <p>VoteAfric E-ticket</p>
    <h1>E-ticketing company in Ghana</h1>
  </div>
</div>

<div class="ticket-main">
  <div class="t-head">
    <h2>Ticket Events</h2>
    <p>Please select an event.</p>
  </div>
  <div class="ticket-container">
  <a href="{% url 'ticketForm' %}" class="ticket">

      <img
        src="{% static 'vote/img/award-banner.jpg' %}"
        alt=""
        class="mask blog-img"
      />

      <div class="ticket-text">
        <h3>GROOVE - WAVE (The beach party )</h3>
        <p>XTACY EVENTS</p>
      </div>
    </a>
  <a href="{% url 'ticketForm' %}" class="ticket">

      <img
        src="{% static 'vote/img/award-banner.jpg' %}"
        alt=""
        class="mask blog-img"
      />

      <div class="ticket-text">
        <h3>GROOVE - WAVE (The beach party )</h3>
        <p>XTACY EVENTS</p>
      </div>
    </a>
  <a href="{% url 'ticketForm' %}" class="ticket">

      <img
        src="{% static 'vote/img/award-banner.jpg' %}"
        alt=""
        class="mask blog-img"
      />

      <div class="ticket-text">
        <h3>GROOVE - WAVE (The beach party )</h3>
        <p>XTACY EVENTS</p>
      </div>
    </a>
  <a href="{% url 'ticketForm' %}" class="ticket">

      <img
        src="{% static 'vote/img/award-banner.jpg' %}"
        alt=""
        class="mask blog-img"
      />

      <div class="ticket-text">
        <h3>GROOVE - WAVE (The beach party )</h3>
        <p>XTACY EVENTS</p>
      </div>
    </a>
  </div>
</div>

{% endblock content %}
