{% extends 'vote/base.html' %} {% load static %} primary: #ffb535; text-color:
#363738;
<style></style>

{% block content %}

<!-- banner -->
<div class="banners">
  <div class="banners-content">
    <h1>VoteAfric E-ticket</h1>
    <!-- <h1>E-ticketing company in Ghana</h1> -->
  </div>
</div>

<div class="ticket-main">
  <div class="t-head">
    <h2>Ticket Events</h2>
    <p>Please select an event.</p>
  </div>
  <div class="ticket-container">
    {% for event in events %}
    <a href="{% url 'ticketForm' event.slug %}" class="ticket">

      <img src="{{ event.ticket_image.url }}" alt="" class="mask blog-img" />

      <div class="ticket-text">
        <h3>{{ event.name }}</h3>
        <p>{{ event.description }}</p>
      </div>
    </a>
    {% endfor %}

  </div>
</div>


{% endblock content %}