{% extends 'dashboard/base.html' %}
{% load static %}
{% block content %}


        <div class="main">

            <!-- category interface: the inter face of list of category when an award is clicked -->
            <div class="category-interface-container">
                <div class="heading">
                    <h2>List of Category for awards {{category}}</h2>

                </div>

                <a href="{% url 'access_transaction_by_code' %}"class="insight">
                <button>Access Transactions </button>
                </a>

                <div class="categories-container">
                    {% for n in award %}


                    <a href="{% url 'activity_nominee' n.slug %}">
                        <div class="category">
                            <!-- cat img -->
                            <div class="cat-img">
                                <img src="{{ n.category.image.url }}" alt="geima">
                            </div>
                            <!-- cat name -->
                            <div class="cat-name">
                                <h2>{{ n.content }}</h2>
                            </div>

                        </div>
                    </a>
                    {% endfor %}
                </div>

                <div class="back-button">
                    <a class="active" href="{% url 'adminPage' %}">
                        <button>Go Back</button>
                    </a>

                </div>



            </div>



        </div>
    </div>
    <div class="logout-pop">
        <div class="logout">
            <p>Are you sure you want to log out from the admin pannel ?</p>
            <div class="log-button">
                <a href="{% url 'logout' %}">
                    <button>Log Out</button>
                </a>

                <p>Or</p>

                <button class="DontLogout">No</button>
            </div>
        </div>

    </div>
{% endblock %}