{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'vote/img/our-logo.jpg' %}" type="image/jpeg">
    <title>Document</title>
   
<style>
 
.revenue-table {
    width: 100%;
    border-collapse: collapse;
}
.transation-details-container h1{
    color: #522a83;
}

.revenue-table th,
.revenue-table td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
.revenue-table td{
    font-size: 8px;
  white-space: normal;
  word-wrap: break-word;  
}
.revenue-table th {
background-color: #522a83;
color: #fff;
}

.revenue-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

</style>
</head>
<body>
    
    <div class="main">
        
        
    <div class="transation-details-container">
        <div>
            <img src="dashboard/assets/img/voteafric-logo.png" height="50px" alt="geima">
        </div>
        
        <div class="table-responsive">
            <table class="revenue-table"> 
            {% if nominee %}
                <p>{{ nominee.category.award }} Nominee Transaction Detail</p>
                <p>{{ nominee.sub_category }}</p>
                <p>{{ nominee.name }}</p>
            {% endif %}
                <thead>
                    <tr>
                       
                       
                        <th>Amount</th>
                        <th>Verification</th>
                        <th>Date & Time</th>
                        <th>Reference</th>
                    </tr>
                </thead>
                <tbody>
                    {% for form in forms %}
                    <tr>
                        
                      
                        <td style="width: 200px; word-wrap: break-word;">GH{{ form.total_amount }}</td>
                        <td style="width: 150px; word-wrap: break-word;">{{ form.verified }}</td>
                        <td style="width: 200px; word-wrap: break-word;">{{ form.date_created }}</td>
                        <td style="width: 90%; word-wrap: break-word;">{{ form.ref }}</td>
                        
                    </tr>
                    {% endfor %}
                    <!-- Add more rows as needed -->
                </tbody>
            </table>
        </div>
    
        </div>
    </div>
</body>
</html>
