{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'vote/img/our-logo.jpg' %}" type="image/jpeg">
    <title>Document</title>
</head>
<body>
    <div class="pdf-header">
    <img src="{% static 'vote/img/voteafric-logo.png' %}" height="70px" alt="">
</div>
    <div class="main">
        
        
    
            <table class="revenue-table"> <!-- Add class="revenue-table" to the table element -->
                <thead>
                    <tr>
                        <th>Category</th>
                        <th>Reference</th>
                        <th>Amount</th>
                        <th>Verification</th>
                        <th>Date & Time</th>
                    </tr>
                </thead>
                <tbody>
                    {% for form in forms %}
                    <tr>
                        <td>{{ form.content }}</td>
                        <td>{{ form.ref }}</td>
                        <td>GH¢{{ form.total_amount }}</td>
                        <td>{{ form.verified }}</td>
                        <td>{{ form.date_created }}</td>
                    </tr>
                    {% endfor %}
                    <!-- Add more rows as needed -->
                </tbody>
            </table>
    
        </div>
    </div>
</body>
</html>
