{% extends 'dashboard/base.html' %}
{% load static %}
{% block content %}
        <div class="main">
            <div class="the-team-container">
                <div class="heading">
                    <h1>Team Members</h1>
                </div>
                <div class="team-container">

                    <div class="team">
                        <img src="{% static 'vote/img/IMG_20240127_215829_062.jpg' %}" alt="geima">
                        <div class="team-detail">
                            <p>Benjamin Ohene Asare</p>
                            <p>Front-End Developer <span> @VoteAfric</span></p>
                            <p>kojosweetonline@gmail.com</p>

                            <a href="https://wa.link/ire2u1" title="Click to message me on whatsapp"><i class="fa-brands fa-whatsapp"></i> O55 815 6844</a>
                        </div>
                    </div>
                    <div class="team">
                        <img src="{% static 'vote/img/godeytech2.jpg' %}" alt="geima">
                        <div class="team-detail">
                            <p>Godfred Yaw Tenkorang 
                            </p>
                            <p>Back-End Developer <span> @VoteAfric</span></p>
                            <p>godfredtenkorang9@gmail.com</p>

                            <a href="https://wa.link/h8530e" title="Click to message me on whatsapp"><i class="fa-brands fa-whatsapp"></i>  055 391 2334</a>
                        </div>
                    </div>
                    <div class="team">
                        <img src="{% static 'vote/img/amatey.jpg' %}" alt="geima">
                        <div class="team-detail">
                            <p>David Tetteh Amartey
                            </p>
                            <p>Lead Digital Marketer <span> @VoteAfric</span></p>
                            <p>davidtettehddt@gmail.com</p>

                            <a href="https://wa.link/1hnhf2" title="Click to message me on whatsapp"><i class="fa-brands fa-whatsapp"></i> 020 110 1994
                            </a>
                        </div>
                    </div>
                    <div class="team">
                        <img src="{% static 'vote/img/set.jpg' %}" alt="geima">
                        <div class="team-detail">
                            <p>Seth Owusu Ansah</p>
                            <p>Financial Manager <span> @VoteAfric</span></p>
                            <p>Sethowusuansah11@gmail.com</p>

                            <a href="https://wa.link/u1xcwr" title="Click to message me on whatsapp"><i class="fa-brands fa-whatsapp"></i>  059 982 5015</a>
                        </div>
                    </div>
                    <div class="team">
                        <img src="{% static 'vote/img/wes.jpg' %}" alt="geima">
                        <div class="team-detail">
                            <p>John Wesley Donkor 
                            </p>
                            <p>Communications Director <span> @VoteAfric</span></p>
                            <p>jowesdotv@gmail.com</p>

                            <a href="https://wa.link/3q6y19" title="Click to message me on whatsapp"><i class="fa-brands fa-whatsapp"></i>   055 536 7167</a>
                        </div>
                    </div>



                </div>
            </div>



        </div>

    </div>
    <div class="logout-pop">
        <div class="logout">
            <p>Are you sure you want to log out from the admin pannel ?</p>
            <div class="log-button">
                <a href="{% url 'logout' %}">
                    <button>Log Out</button>
                </a>

                <p>Or</p>

                <button class="DontLogout">No</button>
            </div>
        </div>

    </div>
{% endblock %}