{% extends 'dashboard/base.html' %}
{% load static %}
{% block content %}
        <div class="main">
            <div class="the-team-container">
                <div class="heading">
                    <h1>Team Members</h1>
                </div>
                <div class="team-container">

                    <div class="team">
                        <img src="{% static 'vote/img/IMG_20240127_215829_062.jpg' %}" alt="geima">
                        <div class="team-detail">
                            <p>Benjamin Ohene Asare</p>
                            <p>Front-End Developer <span> @VoteAfric</span></p>
                            <p>benjaminoheneasare65@gmail.com</p>

                            <a href="https://wa.link/ire2u1" title="Click to message me on whatsapp">O55 815 6844</a>
                        </div>
                    </div>
                    <div class="team">
                        <img src="{% static 'vote/img/IMG_20240127_215829_062.jpg' %}" alt="geima">
                        <div class="team-detail">
                            <p>Benjamin Ohene Asare</p>
                            <p>Front-End Developer <span> @VoteAfric</span></p>
                            <p>benjaminoheneasare65@gmail.com</p>

                            <a href="https://wa.link/ire2u1" title="Click to message me on whatsapp">O55 815 6844</a>
                        </div>
                    </div>
                    <div class="team">
                        <img src="{% static 'vote/img/IMG_20240127_215829_062.jpg' %}" alt="geima">
                        <div class="team-detail">
                            <p>Benjamin Ohene Asare</p>
                            <p>Front-End Developer <span> @VoteAfric</span></p>
                            <p>benjaminoheneasare65@gmail.com</p>

                            <a href="https://wa.link/ire2u1" title="Click to message me on whatsapp">O55 815 6844</a>
                        </div>
                    </div>
                    <div class="team">
                        <img src="{% static 'vote/img/IMG_20240127_215829_062.jpg' %}" alt="geima">
                        <div class="team-detail">
                            <p>Benjamin Ohene Asare</p>
                            <p>Front-End Developer <span> @VoteAfric</span></p>
                            <p>benjaminoheneasare65@gmail.com</p>

                            <a href="https://wa.link/ire2u1" title="Click to message me on whatsapp">O55 815 6844</a>
                        </div>
                    </div>



                </div>
            </div>



        </div>

    </div>
    <div class="logout-pop">
        <div class="logout">
            <p>Are you sure you want to log out from the admin pannel ?</p>
            <div class="log-button">
                <a href="{% url 'logout' %}">
                    <button>Log Out</button>
                </a>

                <p>Or</p>

                <button class="DontLogout">No</button>
            </div>
        </div>

    </div>
{% endblock %}