{% extends 'dashboard/base.html' %}
{% load static %}
{% block content %}
        <div class="main">
            <div class="transaction-main">
                <div class="heading">
                    <h2>Transaction for Award</h2>
                    <p> When clicking on a specific award scheme, you will be able to view transactions for each
                        category associated with that award. </p>
                </div>
            </div>
            <div class="transaction-for-awards">
                {% for a in awards %}
                <a href="{% url 'TransactionCat' a.slug %}">
                    <div class="awards-transaction-container">
                        <!-- awards img -->
                        <div class="awards-img">
                            <img src="{{ a.image.url }}" alt="geima">
                        </div>
                        <!-- awards name -->
                        <div class="awards-name">
                            <h2>{{ a.award }}</h2>
                          
                        </div>
                    </div>
                </a>
                {% endfor %}

            </div>


        </div>
    </div>
    <div class="logout-pop">
        <div class="logout">
            <p>Are you sure you want to log out from the admin pannel ?</p>
            <div class="log-button">
                <a href="{% url 'logout' %}">
                    <button>Log Out</button>
                </a>

                <p>Or</p>

                <button class="DontLogout">No</button>
            </div>
        </div>

    </div>
{% endblock %}