{% extends 'dashboard/base.html' %}
{% load static %}
{% block content %}
        <div class="main">
            <div class="transaction-main">
                <div class="heading">
                    <h2>Transaction for each Category</h2>
                    <p> When clicking on a specific Category, you will be able to view transactions for each
                        nominee associated with that award. </p>
                        <br>
                        <a href="{% url 'request_payment' category.slug %}" class="insight">
                            <button>Request for Payment </button>
                        </a>
                </div>
                <!-- <h1 style="font-family: 'Times New Roman', Times, serif;">Total Online Payments: GH¢{{ original_online_total|floatformat:2 }}</h1>
                <h1 style="font-family: 'Times New Roman', Times, serif;">Total USSD Payments: GH¢{{ original_ussd_total|floatformat:2 }}</h1> -->

                <!-- The total payment without charges -->
                <!-- <h1 style="font-family: 'Times New Roman', Times, serif;">Total Payments: GH¢{{ sum_total|floatformat:2 }}</h1> -->
                <h1 style="font-family: 'Times New Roman', Times, serif;">Total Revenue: GH¢{{ original_total_payment|floatformat:2 }}</h1>

                <br>
                <!-- <h4 style="font-family: 'Times New Roman', Times, serif;">Total Online Payment After Charges (2%): GH¢{{ total_online_payments|floatformat:2 }}</h4>
                <h4 style="font-family: 'Times New Roman', Times, serif;">Total USSD Payment After Charges (3%): GH¢{{ total_ussd_payments|floatformat:2 }}</h4> -->
                <!-- The total payment after charges -->
                <!-- <h2 style="font-family: 'Times New Roman', Times, serif;">Total Payment After Charges (3%): GH¢{{ original_total_payment|floatformat:2 }}</h2> -->
                <br>
                <h4><a href="{% url 'ussd_transactions' category.id  %}">CLICK HERE</a> TO GET ALL USSD TRANSACTIONS</h4>
                <h4><a href="{% url 'online_transactions' category.id  %}">CLICK HERE</a> TO GET ALL ONLINE TRANSACTIONS</h4>
                <br>
                <div class="table-responsive">
                    <table class="revenue-table">
                        <thead>
                            <tr>
                                <th>Category</th>
                                <th>Action</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            {% for n in award %}
                            <tr>
                                <td>{{ n.content }}</td>
                                <td><a href="{% url 'transaction' n.slug %}">click</a></td>
                                
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>  
                </div>
                
                <!-- <div class="transaction-for-awards">
                    {% for n in award %}
                    <a href="{% url 'transaction' n.slug %}">
                        <div class="awards-transaction-container">
                            
                            <div class="awards-img">
                                <img src="{{ n.category.image.url }}" alt="geima">
                            </div>
                            
                            <div class="awards-name">
                                <h2>{{ n.content }}</h2>

                            </div>
                        </div>
                    </a>
                    {% endfor %}
                </div> -->
                <!-- <div class="back-button">
                    <a class="active" href="{% url 'TransactionMain' %}">
                        <button>Go Back</button>
                    </a>

                </div> -->
            </div>

        </div>
    </div>
    <div class="logout-pop">
        <div class="logout">
            <p>Are you sure you want to log out from the admin pannel ?</p>
            <div class="log-button">
                <a href="{% url 'logout' %}">
                    <button>Log Out</button>
                </a>

                <p>Or</p>

                <button class="DontLogout">No</button>
            </div>
        </div>

    </div>
{% endblock %}