{% extends 'dashboard/base.html' %}
{% load static %}
{% block content %}
        <div class="main">
            <div class="transaction-main">
                <div class="heading">
                    <h2>Transaction for each Category</h2>
                    <p> When clicking on a specific Category, you will be able to view transactions for each
                        nominee associated with that award. </p>
                </div>
                <h1 style="font-family: 'Times New Roman', Times, serif;">Total Online Payments: GH¢{{ total_online_payments }}</h1>
                <h1 style="font-family: 'Times New Roman', Times, serif;">Total USSD Payments: GH¢{{ total_ussd_payments }}</h1>
                <br>
                <h4><a href="{% url 'ussd_transactions' category.id  %}">CLICK HERE</a> TO GET ALL USSD TRANSACTIONS</h4>
                <div class="transaction-for-awards">
                    {% for n in award %}
                    <a href="{% url 'transaction' n.slug %}">
                        <div class="awards-transaction-container">
                            <!-- awards img -->
                            <div class="awards-img">
                                <img src="{{ n.category.image.url }}" alt="geima">
                            </div>
                            <!-- Category name -->
                            <div class="awards-name">
                                <h2>{{ n.content }}</h2>

                            </div>
                        </div>
                    </a>
                    {% endfor %}
                </div>
                <div class="back-button">
                    <a class="active" href="{% url 'TransactionMain' %}">
                        <button>Go Back</button>
                    </a>

                </div>
            </div>

        </div>
    </div>
    <div class="logout-pop">
        <div class="logout">
            <p>Are you sure you want to log out from the admin pannel ?</p>
            <div class="log-button">
                <a href="{% url 'logout' %}">
                    <button>Log Out</button>
                </a>

                <p>Or</p>

                <button class="DontLogout">No</button>
            </div>
        </div>

    </div>
{% endblock %}