{% extends 'dashboard/tickiting/base.html' %}
{% load static %}
{% block content %}


<div class="main">
    <div class="ticket-form-wrapper">
      <form method="POST">
        {% csrf_token %}
      
        <div class="ticket-form">
          <input type="text" placeholder="Enter 6-digit code" name="access_code" maxlength="6" required>
          <button type="submit">Access Ticket</button>
        </div>
      </form>
      </div>
</div>




<div class="logout-pop">
  <div class="logout">
    <p>Are you sure you want to log out from the admin pannel ?</p>
    <div class="log-button">
      <a href="{% url 'logout' %}">
        <button>Log Out</button>
      </a>

      <p>Or</p>

      <button class="DontLogout">No</button>
    </div>
  </div>

</div>

{% endblock %}