{% extends 'dashboard/tickiting/base.html' %}
{% load static %}
{% block content %}

<div class="main">

   

















  

   




 

    <!-- TRANSACTIONS SECTION: Table of recent purchases with controls -->
    <div class="transactions-section">
      <!-- Section header with title and controls -->
      <div class="section-header">
        <h2>Online Transactions </h2>
       
        
      </div>

      <!-- Transactions table -->
      <div class="transactions-table">
        <table>
          <thead>
            <tr>
              <th>Phone</th>
              <th>Email</th>
              <th>Ticket Type</th>
              <th>Quantity</th>
              <th>Amount</th>
              <th>Date</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <!-- Sample transaction row -->
            {% for payment in payments %}
            <tr>
              <td>{{ payment.phone }}</td>
              <td>{{ payment.email }}</td>
              <td><span class="badge vip">{{ payment.ticket_type.name }}</span></td>
              <td>{{ payment.quantity }}</td>
              <td>GH¢{{ payment.amount }}</td>
              <td>{{ payment.date_created }}</td>
              {% if payment.verified %}
              <td><span class="badge completed">Completed</span></td>
              {% else %}
              <td>Not Completed</td>
              {% endif %}
            </tr>
            {% endfor %}

          </tbody>
        </table>
      </div>

     

   
  </div>

</div>



<script defer src="{% static 'vote/adminScript.js' %}"></script>
<script defer src="{% static 'vote/adminScript2.js' %}"></script>




















<div class="logout-pop">
  <div class="logout">
    <p>Are you sure you want to log out from the admin pannel ?</p>
    <div class="log-button">
      <a href="{% url 'logout' %}">
        <button>Log Out</button>
      </a>

      <p>Or</p>

      <button class="DontLogout">No</button>
    </div>
  </div>

</div>



{% endblock %}