{% extends 'vote/base.html' %}

{% block content %}

<section class="donate-section-cont">
    <div class="donate-secs">
        <div class="donate-sec">
            <h1>Make Payment for GH¢{{ payment.total_amount }}</h1>
            <script src="https://js.paystack.co/v1/inline.js"></script>
        </div>
        <div>
            <button class="donate-btn" onclick="payWithPayStack()" id="django-paystack-button" type="submit">Make
                Payment</button>
        </div>
    </div>
</section>
<script>
    function payWithPayStack() {
        let currency = "GHS";
        let plan = "";
        let ref = "{{ payment.ref }}";
        let obj = {
            key: "{{ paystack_public_key }}",
            email: "{{ payment.email }}",
            amount: "{{ payment.amount_value }}",
            ref: ref,
            callback: function (response) {
                window.location.href = "{% url 'verify-payment' payment.ref %}";
            },
        }
        if (Boolean(currency)) {
            obj.currency = currency.toUpperCase()
        }
        if (Boolean(plan)) {
            obj.plan = plan;
        }
        var handler = PaystackPop.setup(obj);
        handler.openIframe();
    }
</script>
{% endblock %}