{% extends 'vote/base.html' %}

{% block content %}

<section class="donate-section-cont">

    <div class="donate-secs">

        <div class="payment-card">

            <div class="note-box">
                <p>
                    Note: After completing payment on Paystack, please wait for the success message <span>"Payment verified successfully! Votes added."</span> to appear on this platform before refreshing or leaving the page. It takes few secoonds to appear


                </p>
            </div>
<div class="support-bar">
  <p class="support-text">
    <strong>Voting is going smoothly. If payment is successful but your vote doesn’t count due to network issues</strong> Contact our standby team instantly.
  </p>
  <div class="support-btns">
    <a class="sbtn call" href="tel:+233554823175" target="_blank">
      <i class="ti ti-phone-call"></i> Call Benji
    </a>
    <a class="sbtn call2" href="https://wa.me/233541254645" target="_blank">
      <i class="ti ti-phone"></i>Chat Benji
    </a>
    <a class="sbtn wa" href="https://wa.me/233553912334" target="_blank">
      <i class="ti ti-brand-whatsapp"></i> chat Godfred
    </a>
  </div>
</div>
            <div class="donate-sec">

                <p class="vote-text">
                    You are casting
                    <span>{{ payment.vote }} votes</span>
                    for
                </p>

                <h1 class="nominee-name">
                    {{ payment.nominee.name }}
                </h1>

                <div class="category-box">
                    {{ payment.content }}
                </div>

                <h2 class="amount">
                    GH¢{{ payment.total_amount }}
                </h2>
                <script src="https://js.paystack.co/v2/inline.js"></script>

                <button class="donate-btn" onclick="payWithPayStack()" id="django-paystack-button" type="submit">

                    Pay Now

                </button>

            </div>

        </div>

    </div>

</section>
<script>
    function payWithPayStack() {
        let currency = "GHS";
        let plan = "";
        let ref = "{{ payment.ref }}";
        let obj = {
            key: "{{ paystack_public_key }}",
            email: "{{payment.phone}}@gmail.com",
            phone: "{{ payment.phone }}",
            amount: "{{ payment.amount_value }}",
            ref: ref,
            callback: function (response) {
                window.location.href = "{% url 'verify-payment' payment.ref %}";
            },
        }
        if (Boolean(currency)) {
            obj.currency = currency.toUpperCase()
        }
        if (Boolean(plan)) {
            obj.plan = plan;
        }
        var handler = PaystackPop.setup(obj);
        handler.openIframe();
    }
</script>
{% endblock %}