{% extends 'vote/base.html' %}
{% load static %}
{% block content %}
<!-- banner -->
<div class="banners">
    <img src="{% static 'vote/img/award-banner.jpg' %}" alt="image">
    <div class="banners-content">
        <h1>{% if sub_category %}{{ sub_category.content }}{% else %}Award Name{% endif %}</h1>
        <br>
        <p>{% if sub_category %}{{ sub_category.category }}{% else %}Award Name{% endif %}</p>
        <div class="button">

            <a href="{% url 'result' sub_category.slug %}">View Results</a>

        </div>
    </div>

</div>


<div style="justify-content: center; text-align:center; padding: 5px;">
  {% if nominees %}

  {% else %}
  <h1>Not Casting Vote At The Moment.</h1>
  {% endif %}
</div>
 <!-- search bar -->
  <div class="search-bar-section">
      <form action="">
        <input type="search" name="search" id="search" placeholder="Search Nominee....">
    </form>
  </div>



<!-- end of banner section -->
<div class="spinner">
    <div class="skeleton-spinner"></div>
    <p>Please wait! We are putting everything togethere for you</p>
</div>


<!-- nominees section -->
<section class="nominees-section-container content">
    <div class="nominees-container">
        {% for n in nominees %}
        <div class="nominees">
            <img src="{{ n.image.url }}" alt="image" loading="lazy">
            <div class="nominees-detail">
                <h2>{{ n.sub_category.content }}</h2>
                <h3>{{ n.name }}</h3>

                <div class="vote-button">
                    {% if current_time > n.end_date %}
                    <a href="{% url 'vote-page' n.slug %}">Vote</a>
                   
                    {% else %}
                    <h3>Voting has ended.</h3>
                    {% endif %}
                </div>
            </div>

        </div>
        {% endfor %}
    </div>
</section>


<!-- This is the form voters can use to vote.
it is hidden so when voters click on the vote button, the it appears -->
<!-- <section class="voting-form-section"> -->
    <!-- <div class="voting-form-container">
        <div class="vote-col">
            <p>Vote</p>
            <i class="fa-solid fa-xmark" id="removeVotingForm"></i>
        </div> -->
        <!-- <div class="alert">
            <p><i class="fa-solid fa-info"></i> Note: Please be sure of the nominee you are voting for. This
                transaction is irreversibe</p>
        </div> -->

        <!-- This section receive the nominee image and name to the form when the vote button is clicked -->
        <!-- <div class="nominee-image-name">
            <div class="nominee-image"></div>
            <div class="nominee-name"></div>
            <div class="categoryName"></div>
        </div> -->

        <!-- voting form -->
        <!-- <form class="form-for-voting" method="POST">
            {% csrf_token %}
            <label for=""><i class="fa-solid fa-user"></i> Full Name</label>
            <input type="text" name="name" id="user-name" placeholder="Your Full Name" required> <br>

            <label for=""><i class="fa-solid fa-envelope"></i> Email Address</label>
            <input type="email" name="email" id="" placeholder="Email Address" required> <br>

            <label for=""><i class="fa-solid fa-phone"></i> Phone Number</label>
            <input type="number" name="phone" id="" placeholder="Phone Number" required> <br>

            <label for=""><i class="fa-solid fa-check-to-slot"></i> Number of Vote</label>
            <input type="number" name="vote" id="number-of-vote" placeholder="Number of vote" required> <br>
           
            <label for=""><i class="fa-solid fa-check-to-slot"></i>Amount To pay</label>
            <input type="number" name="total_amount" id="amount-top-pay" placeholder="Amount to pay per vote" readonly required> <br>

            <input type="number" name="amount" id="total-amount-top-pay" placeholder="Amount to pay per vote" readonly required hidden> <br>
            pay button
            <button type="submit">Pay Now</button>

        </form> -->
        <!-- <div class="nominees">
            <img src="{% static 'vote/img/profile.png' %}" alt="image">
            <div class="nominees-detail">
                <h2>Category Name</h2>
                <h3>Nominee Name</h3>

                <div class="vote-button">
                    <button>Vote</button>
                </div>
            </div>
        </div> -->

        <!-- <div class="nominees">
            <img src="{% static 'vote/img/profile.png' %}" alt="image">
            <div class="nominees-detail">
                <h2>Category Name</h2>
                <h3>Nominee Name</h3>

                <div class="vote-button">
                    <button>Vote</button>
                </div>
            </div>
        </div> -->

        <!-- <div class="nominees">
            <img src="{% static 'vote/img/profile.png' %}" alt="image">
            <div class="nominees-detail">
                <h2>Category Name</h2>
                <h3>Nominee Name</h3>

                <div class="vote-button">
                    <button>Vote</button>
                </div>
            </div>
        </div> -->
    <!-- </div>
</section> -->


{% endblock content %}