{% extends 'vote/base.html' %}
{% load static %}
{% block content %}


    <!-- banner -->
    <div class="banners">
        <img src="{% static 'vote/img/award-banner.jpg' %}" alt="image">
        <div class="banners-content">
            <h1>{% if sub_category %}{{ sub_category.content }}{% else %}Award Name{% endif %}</h1>
            <br>
            <p>{% if sub_category %}{{ sub_category.category }}{% else %}Award Name{% endif %}</p>
        </div>
    </div>



    
    <!-- result of the nominees -->
    <section class="nominees-result-section">
        <h2>Voting Result</h2>
        {% for result in results %}
        <div class="nominee-result">
            <!-- nominee image -->
            <div class="nominee-img">
                <img src="{{ result.image.url }}" loading="lazy" alt="image">
            </div>

            <!-- nominee name -->
            <div class="nominee-name">
                <h4>{{result.name}}</h4>
            </div>

            <!-- number of vote nominee has -->
            <div class="number-of-vote-currently">
                <p>{{result.total_vote}}</p>
            </div>
            
        </div>
        {% endfor %}
       
    </section>






















    {% endblock content %}