{% extends 'vote/base.html' %}
{% load static %}
{% block content %}
<!-- banner -->
<!-- 
    <div class="banners-content">
        <div class="button">
    
            <a href="{% url 'index' %}">Return Home</a>
    
        </div>
    </div> -->
    
</div>
{% if messages %}
<section class="vote-succes-or-fail">

    <div class="success-card">

        <div class="success-icon">
            <i class="fa-solid fa-circle-check"></i>
        </div>

        <h1>Vote Successful</h1>

        <p>
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </p>

        <a href="/" class="back-home-btn">
            Back Home
        </a>

    </div>

</section>
{% endif %}



{% endblock content %}