{% extends 'vote/base.html' %}
{% load static %}
{% block content %}
<!-- banner -->
<div class="banners">
    <img src="{% static 'vote/img/award-banner.jpg' %}" alt="image">

    <div class="banners-content">
        <div class="button">
    
            <a href="{% url 'index' %}">Return Home</a>
    
        </div>
    </div>
</div>
{% if messages %}
<div class="alert alert-info">
    {% for message in messages %}
    {{ message }}
    {% endfor %}
</div>
{% endif %}

<section class="vote-succes-or-fail">

    <div class="vote-condition">
        <i class="fa-solid fa-ban"></i>
        <h1> Vote Failed</h1>
    </div>
   
</section>
  



{% endblock content %}